﻿<%@ Page Language="C#" %>

<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">

    <title>Maps</title>
    <script src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0&mkt=en-en" type="text/javascript" charset="UTF-8"></script>
     <script type="text/javascript" src="script/jquery-1.8.2.js"></script>
    <script type="text/javascript">
        function EventTrigger(value) {
            if (value == 1) {
                GetIa();
            } else if (value == 2) {
                GetEihs();
            }

        }

        function init() {

            // Initialize the map

            try{
                var map = new Microsoft.Maps.Map(document.getElementById("map"),
                    {
                        credentials: "ApzHV60lfmC-UYQ5KDOBe1ilaYr0Jg3f0HfkRBLLsPeIYWurOvYGlS4o-dHvq9_j",
                        mapTypeId: Microsoft.Maps.MapTypeId.road, zoom: 7, showScalebar: true,
                        //center: new Microsoft.Maps.Location(27.70428,85.30453)
                        center: new Microsoft.Maps.Location(28.263611, 83.972389)
                    }
                );


                // Creates a collection to store multiple pins
                var pins = new Microsoft.Maps.EntityCollection();



                map.entities.push(pins);
            }
            catch(Exception)
            {
               // document.getElementById("map").innerText = "Check your internet connection";
                // alert("Check your internet connection")
            }
        }
        function GetIa() {
            // alert("getIa()");
            var map = new Microsoft.Maps.Map(document.getElementById("map"),
                {
                    credentials: "ApzHV60lfmC-UYQ5KDOBe1ilaYr0Jg3f0HfkRBLLsPeIYWurOvYGlS4o-dHvq9_j",
                    mapTypeId: Microsoft.Maps.MapTypeId.road, zoom: 7, showScalebar: true,
                    //center: new Microsoft.Maps.Location(27.70428,85.30453)
                    center: new Microsoft.Maps.Location(27.5747222, 84.4936111)
                }
            );

            dataLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(dataLayer);

            var infoboxLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(infoboxLayer);

            infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false, offset: new Microsoft.Maps.Point(0, 20) });
            infoboxLayer.push(infobox);

            AddData();

            // Creates a collection to store multiple pins
            //var pins = new Microsoft.Maps.EntityCollection();
            function pin_point(x, y, z, a) {
                var name = a;
                // A random position
                var position = new Microsoft.Maps.Location(x, y);
                // Creates a Pushpin
                var pin = new Microsoft.Maps.Pushpin(position, { text: z });
                // Adds the pin to the collection instead of adding it directly to the Map
                pin.Title = "IACODE:" + z;
                pin.Description = "Name:" + name;
                Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
                //pins.push(pin);
                dataLayer.push(pin);
                // pins.push(pin);
            }
            // function getpoints() {
            function displayInfobox(e) {
                if (e.targetType == 'pushpin') {
                    infobox.setLocation(e.target.getLocation());
                    infobox.setOptions({ visible: true, title: e.target.Title, description: e.target.Description });
                }

                // function getpoints() {


                //  map.entities.push(pins);
                // map.entities.push(infoBoxs);
            }
            function AddData() {
                //alert("addData()");
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "Default2.aspx/FetchValues",
                    dataType: "json",
                    success: function (response) {
                        var result = response.d;
                        var count = result[0];
                        var i;
                        for (i = 1; i <= count; i++) {
                            var lat = result[i].latitiude;
                            var lon = result[i].longitude;
                            var ia = result[i].iacode;
                            var iname = result[i].ianame;
                            pin_point(lat, lon, "" + ia + "", "" + iname + "");

                        }


                      //  pin_point(27.70381, 85.306542, '0', '1');

                    }
                });
            }
            //map.entities.push(pins);
        }
        function GetEihs() {

          
            var map = new Microsoft.Maps.Map(document.getElementById("map"),
                {
                    credentials: "ApzHV60lfmC-UYQ5KDOBe1ilaYr0Jg3f0HfkRBLLsPeIYWurOvYGlS4o-dHvq9_j",
                    mapTypeId: Microsoft.Maps.MapTypeId.road, zoom: 7, showScalebar: true,
                    //center: new Microsoft.Maps.Location(27.70428,85.30453)
                    center: new Microsoft.Maps.Location(28.263611, 83.972389)
                }
            );
            dataLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(dataLayer);

            var infoboxLayer = new Microsoft.Maps.EntityCollection();
            map.entities.push(infoboxLayer);

            infobox = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0, 0), { visible: false, offset: new Microsoft.Maps.Point(0, 20) });
            infoboxLayer.push(infobox);

            AddData();
            // Creates a collection to store multiple pins
            // var pins = new Microsoft.Maps.EntityCollection();
            //var infoBoxs = new Microsoft.Maps.EntityCollection();

            function pin_point(x, y, z, a) {
                // A random position
                var name = a;
                var position = new Microsoft.Maps.Location(x, y);
                // Creates a Pushpin
                var pin = new Microsoft.Maps.Pushpin(position, { text: z });
                // Adds the pin to the collection instead of adding it directly to the Map
                pin.Title = "EIHS CODE:"+z;
                pin.Description = "EIHS site name:"+ name;
                Microsoft.Maps.Events.addHandler(pin, 'click', displayInfobox);
                //pins.push(pin);
                dataLayer.push(pin);

            }
            function displayInfobox(e) {
                if (e.targetType == 'pushpin') {
                    infobox.setLocation(e.target.getLocation());
                    infobox.setOptions({ visible: true, title: e.target.Title, description: e.target.Description });
                }

                // function getpoints() {

                
              //  map.entities.push(pins);
               // map.entities.push(infoBoxs);
            }
           function AddData()
            {
                $.ajax({
                    type: "POST",
                    contentType: "application/json",
                    url: "Default3.aspx/FetchValues",
                    dataType: "json",
                    success: function (eresponse) {


                        var eresult = eresponse.d;
                        var ecount = eresult[0];
                        var ei;
                        //alert(eresult);
                        for (ei = 1; ei <= ecount; ei++) {
                            var elat = eresult[ei].latitiude;
                            var elon = eresult[ei].longitude;
                            var eia = eresult[ei].iacode;
                            var ename = eresult[ei].ianame;
                            // alert(elat);
                            pin_point(elat, elon, "" + eia + "", "" + ename + "");

                        }


                        //  pin_point(27.70381, 85.306542, '0');

                    }
                });
            }
        }
    </script>
</head>
<body onload="init()">
    <form id="form1" runat="server">
    
        <label><b>choose:</b></label>
        <select name="choose" onchange="EventTrigger(value)">
            <option value="0" selected="selected">-------Select-----</option>
            <option value="1">IA</option>
            <option value="2">EIHS</option>
        </select>
        <br />
    <div id="map" style="position: relative; width: 986px; height: 600px;">
    <br />
        <br />
    </div>
           
    </form>
    </body>
</html>
